body{
    font-family: ADLaM Display;
    font-size: 22px;
    margin: 0;
}

header{
    text-align: center;
    height: 90px;
    background-color:rgb(241, 218, 197);
    position: fixed;
    width: 100%;
}
nav{
    margin-top: 30px;
}
nav a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 40px 40px 40px 40px;
    background-color: rgb(235, 192, 152);
    border: 2px rgb(202, 172, 129)solid;
}
nav a:hover{
    color: rgba(150, 106, 56, 0.726);
    box-shadow: 5px 0px 5px 0px;
    transition: 0.2s;
    padding: 11px 16px;
}
.body{
    background-color:rgb(124, 118, 109)
}

.deskripsihome{
    width: 40%;
    margin: 50px;
    font-size: 20px;
    margin-left: 50px;
    & h1{
    color: rgb(255, 255, 255);
    }
    & h3{
        color: rgb(255, 255, 255);
    }
    & p{
        color: rgb(255, 255, 255);
    }
}
.home{
    background-image: url(Vegannbertcheese.png);
    height: 600px;
    background-size: cover;
    padding-top: 75px;
}
h1{
    color: rgb(255, 255, 255);
}
h3{
    color: aliceblue;
}
p{
    color: rgb(255, 255, 255);
}
.deskripsihome a{
    text-decoration: none;
    color:rgb(231, 216, 208);
    background-color: rgb(255, 255, 255);
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 4px 4px 3px 3px;
    border: 2px rgb(212, 198, 170) solid;
}
.deskripsihome a:hover{
    box-shadow: 5px 5px 4px 4px;
    padding: 11px 20px;

}
.about{
    height: 800px;
    background-color: rgb(245, 223, 198);
}
.containerabout{
    font-family: 'Albert Sans';
    background-color: rgb(211, 178, 140);
    width: 50%;
    margin-left: 25%;
    text-align: center;
    height: 80%;
    padding: 50px 20px;

}
.containerabout img{
    height: 200px;
}
.carahowto{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(209, 175, 113);
    & h2{
        color: rgb(99, 70, 43);
    }
    & h3{
        color: rgb(126, 95, 66);
    }
    & b{
        color: rgb(177, 135, 95);
    }
    & p{
        color: rgb(255, 255, 255);
    }
    background-color: rgb(231, 211, 168);
}
.carahowto a{
    text-decoration: none;
    color:rgb(231, 216, 208);
    background-color: rgb(255, 255, 255);
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 4px 4px 3px 3px;
    border: 2px rgb(212, 198, 170) solid;

}
