body{
    margin:0px;
    font-size: 22px;
    background-color: rgb(233, 196, 155, 0.938);
}
html{
    scroll-behavior: smooth;
}
.banner a{
    color:rgb(255, 255, 255);
    text-decoration: none;
    font-family: "Amaranth";
}
header{
    display: flex;
    justify-content: space-between;
    text-align: center;
    height: 40px;
    position: fixed;
    background-color: color-mix(in srgb, #caa890 30%, #b68868 50%);
    width: 98%;
    padding: 15px;
}
nav a{
    color: rgb(206, 168, 111);
    text-decoration: none;
    background-color: rgb(248, 221, 181);
    border-radius: 40px;
    font-family: "Amaranth" ;
    padding: 7px 30px;
    transition: 1s;
    border: 2px solid; color: rgb(153, 119, 87);
    justify-content: center;
}
nav a:hover{
    color: rgb(240, 199, 161);
    background-color: rgb(131, 90, 51);
    border-radius: 20px 20px 20px 20px;
    border: 2x solid;
    box-shadow: 5px 5px 5px -2px; color: rgb(241, 204, 169);
    transition: 0.3s;
    font-size: 20px;
}
section.home{
    height: 800px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url(Vegannbertcheese.png);
}
section.project{
    height: 800px;
    text-align: center;

}
section.profile{
    height: 800px;
    text-align: center;
    justify-content: center;
    background-color: rgba(233, 196, 155, 0.938);
    background-size: cover;

}
.kotakkejucamembertnabati{
    width: 40%;
    margin-left: 50px;
    padding-top: 100px;
}
.kotakkejucamembertnabati h1{
    font-size: 50px;
    font-family: 'Agbalumo';
}
.kotakkejucamembertnabati h3{
    color: rgb(83, 54, 31);
    font-family: "Afacad";
    background-color: rgb(255, 255, 255);
}
.kejucamembertnabati{
    color: rgb(255, 225, 192);
    font-size: 50px;
}
.deskkejucamembertnabati{
    color: rgb(255, 255, 255);
    font-size: 22px;
    font-family: 'Afacad';

}
.deskabout{
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
}

.about{
    height: 800px;
    background-color:rgb(230, 205, 176);
}
.about img{
    height: 300px;
}
.deskabout{
    width: 60%;
    margin: auto;
    padding: 50px 20px;
    text-align: center;
}
h2{
    font-family: 'Afacad';
    font-size: 22px;
}
h1{
    font-family: 'ADLaM Display';
    font-size: 30px;;
    color: rgb(104, 68, 35);
}
section.howto{
    height: 1700px;
    padding-top: 120px;
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(207, 171, 141);
}
.howto p{
    background-color: rgb(219, 196, 162);
    border-radius: 10px;
}
.howto img{
    height: 500px;
}
.deskhowto{
    display: flex;
    width: 80%;
    margin: auto;
}
.dokumentasi{
    margin: 20px;
}
.howto h1{
    color: rgb(109, 73, 52);
}
.howto h2{
    font-family: "Afacad";
}
.howto p{
    font-family: "Afacad";
}
.cardprofile{
    background-color: rgb(255, 255, 255);
    padding: 15px;
    width: 300px;
    margin: auto;
    text-align: center;
    border-radius: 20px;
    margin-top: 100px ;
    
}
.imgprofile img{
    width: 100%;
    border-radius: 360px;
}
.medsos{
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    height: 40px;
    padding-top: 5px;
}
.medsos a{
    text-decoration: none;
    padding: 10px 10px;
    font-size: 24px;
}
.medsos i{
    color: black;
}